MONGO_URI=mongodb+srv://<username>:<password>@<cluster-host>
MONGO_DB_NAME=Job-portal
DNS_SERVERS=8.8.8.8,1.1.1.1

CLIENT_URL=http://localhost:5173

PORT=5000

JWT_SECRET=replace-with-a-long-random-secret

NODE_ENV=development



CLOUDINARY_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_SECRET_KEY=your-cloudinary-secret-key
